{# templates/vehicle/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Create New Vehicle
{% endblock %}

{% block body %}
	<h1>Ajouter une nouvelle vehicule</h1>

	{{ form_start(form) }}
	{{ form_widget(form) }}

	<button type="submit" class="btn btn-primary">Create</button>
	{{ form_end(form) }}
{% endblock %}
